# üêç Week 1 Coding Practice SOLUTIONS

**Welcome!** This notebook contains solutions to all Week 1 practice exercises.

**Topics covered:**
- Data types (integers, floats, strings, booleans)
- Basic operations (math, string operations)
- Variables (creating, using, modifying)
- Lists (creating, accessing, modifying)

---

## Part 1: Data Types üìä

Python has four main data types:
- **int** (integer): whole numbers like `42`
- **float**: decimal numbers like `3.14156`
- **str** (string): text in quotes like `'Hello'`
- **bool** (boolean): `True` or `False`

### Exercise 1.1: Print a simple message
Use the `print()` function to display "Hello, Python!"

In [1]:
print('Hello, Python!')

Hello, Python!

### Exercise 1.2: Check data types
Use the `type()` function to check what type `3.14156` is.

In [2]:
type(3.14156)

float

### Exercise 1.3: Create different data types
Create one variable of each type:
- An integer called `student_count` with value `25`
- A float called `average_score` with value `87.5`
- A string called `course_name` with value `'Python Programming'`
- A boolean called `is_beginner` with value `True`

Then print all four variables.

In [3]:
student_count = 25
average_score = 87.5
course_name = 'Python Programming'
is_beginner = True

print(student_count)
print(average_score)
print(course_name)
print(is_beginner)

25
87.5
Python Programming
True

---

## Part 2: Basic Operations ‚ûï‚ûñ‚úñÔ∏è‚ûó

Let's practice math and string operations!

### Exercise 2.1: Math operations
Calculate the following:
- Add: `156 + 284`
- Subtract: `500 - 237`
- Multiply: `12 * 8`
- Divide: `144 / 12`

In [4]:
156 + 284

440

In [5]:
500 - 237

263

In [6]:
12 * 8

96

In [7]:
144 / 12

12.0

### Exercise 2.2: String operations
Combine the strings `'Data'` and `'Science'` with a space in between, then print the result.

In [8]:
result = 'Data' + ' ' + 'Science'
print(result)

Data Science

### Exercise 2.3: String multiplication
What happens when you multiply a string? Try multiplying `'Python'` by `3` and print the result.

In [9]:
print('Python' * 3)

PythonPythonPython

---

## Part 3: Variables üì¶

Variables store values with names, making them easy to use and reuse!

### Exercise 3.1: Create and use variables
Create three variables:
- `username` with value `'student_123'`
- `followers` with value `500`
- `verified` with value `True`

Then print all three variables.

In [10]:
username = 'student_123'
followers = 500
verified = True

print(username)
print(followers)
print(verified)

student_123
500
True

### Exercise 3.2: Variable operations
Create a variable `likes` with value `100`. Then:
1. Add `50` to `likes` and store it back in `likes`
2. Print the new value of `likes`

In [11]:
likes = 100
likes = likes + 50
print(likes)

150

### Exercise 3.3: Shorthand operators
Create a variable `score` with value `75`. Use the `+=` operator to add `15` to it, then print `score`.

In [12]:
score = 75
score += 15
print(score)

90

### Exercise 3.4: Combining variables
Create two variables: `first_name = 'Maria'` and `last_name = 'Garcia'`. Combine them with a space to create a `full_name` and print it.

In [13]:
first_name = 'Maria'
last_name = 'Garcia'
full_name = first_name + ' ' + last_name
print(full_name)

Maria Garcia

---

## Part 4: Lists üìù

Lists store multiple items in order. Remember: Python starts counting at 0!

### Exercise 4.1: Create a list
Create a list called `ages` containing the numbers: `18, 22, 19, 25, 21`. Print the list.

In [14]:
ages = [18, 22, 19, 25, 21]
print(ages)

[18, 22, 19, 25, 21]

### Exercise 4.2: Access list items
Using the `ages` list from above:
1. Print the first age (index 0)
2. Print the last age (use index -1)
3. Print the third age (index 2)

In [15]:
print(ages[0])   # First age
print(ages[-1])  # Last age
print(ages[2])   # Third age

18
21
19

### Exercise 4.3: Modify a list
Create a list `scores = [85, 90, 78, 92]`. Then:
1. Use `.append()` to add `88` to the end
2. Change the first score to `87`
3. Print the modified list

In [16]:
scores = [85, 90, 78, 92]
scores.append(88)
scores[0] = 87
print(scores)

[87, 90, 78, 92, 88]

### Exercise 4.4: List functions
Create a list `numbers = [15, 42, 8, 23, 16, 30]`. Then use functions to find and print:
1. The length of the list (use `len()`)
2. The sum of all numbers (use `sum()`)
3. The maximum value (use `max()`)
4. The minimum value (use `min()`)

In [17]:
numbers = [15, 42, 8, 23, 16, 30]

print('Length:', len(numbers))
print('Sum:', sum(numbers))
print('Maximum:', max(numbers))
print('Minimum:', min(numbers))

Length: 6
Sum: 134
Maximum: 42
Minimum: 8

---

## Part 5: Putting It All Together üéØ

Time to combine everything you've learned!

### Challenge 1: Social Media Analytics
You're analyzing a social media post. Create variables:
- `post_likes = 340`
- `post_shares = 85`
- `post_comments = 52`

Calculate and print:
1. Total engagement (sum of all three)
2. A message saying "Total engagement: [number]"

In [18]:
post_likes = 340
post_shares = 85
post_comments = 52

total_engagement = post_likes + post_shares + post_comments
print('Total engagement:', total_engagement)

Total engagement: 477

### Challenge 2: Survey Responses
You collected survey responses: `[7, 8, 6, 9, 7, 8, 10, 6, 9, 8]`

Store this list in a variable called `responses`. Then:
1. Calculate the average response (sum divided by length)
2. Print: "Average rating: [average]"
3. Print the highest response
4. Print how many responses you collected

In [19]:
responses = [7, 8, 6, 9, 7, 8, 10, 6, 9, 8]

average = sum(responses) / len(responses)
print('Average rating:', average)

print('Highest response:', max(responses))
print('Number of responses:', len(responses))

Average rating: 7.8
Highest response: 10
Number of responses: 10

### Challenge 3: Student Data
Create these two lists:
- `student_names = ['Emma', 'Noah', 'Olivia', 'Liam']`
- `student_scores = [92, 87, 95, 89]`

Then:
1. Print the first student's name and score
2. Add a new student 'Ava' to the names list
3. Add her score of 91 to the scores list
4. Print both complete lists
5. Calculate and print the class average

In [20]:
student_names = ['Emma', 'Noah', 'Olivia', 'Liam']
student_scores = [92, 87, 95, 89]

# 1. Print first student's name and score
print('First student:', student_names[0], 'Score:', student_scores[0])

# 2 & 3. Add new student
student_names.append('Ava')
student_scores.append(91)

# 4. Print both lists
print('Names:', student_names)
print('Scores:', student_scores)

# 5. Calculate class average
class_average = sum(student_scores) / len(student_scores)
print('Class average:', class_average)

First student: Emma Score: 92
Names: ['Emma', 'Noah', 'Olivia', 'Liam', 'Ava']
Scores: [92, 87, 95, 89, 91]
Class average: 90.8

---

## Congratulations!

You've completed all the Week 1 practice exercises!

**What you've mastered:**
- ‚úÖ Data types (int, float, str, bool)
- ‚úÖ Basic operations (math, strings)
- ‚úÖ Variables (creating, using, modifying)
- ‚úÖ Lists (creating, accessing, modifying)
- ‚úÖ Functions like print(), type(), len(), sum(), max(), min()