# üêç Week 1 Coding Practice

**Welcome!** This notebook will help you practice everything you learned this week.

**Topics covered:**
- Data types (integers, floats, strings, booleans)
- Basic operations (math, string operations)
- Variables (creating, using, modifying)
- Lists (creating, accessing, modifying)

**Instructions:**
- Work through each section in order
- Try to write your code in the empty cells provided
- Run each cell to check your work
- Don't worry about making mistakes here - that's how we learn!

---

## Part 1: Data Types üìä

Python has four main data types:
- **int** (integer): whole numbers like `42`
- **float**: decimal numbers like `3.14156`
- **str** (string): text in quotes like `'Hello'`
- **bool** (boolean): `True` or `False`

### Exercise 1.1: Print a simple message
Use the `print()` function to display "Hello, Python!"

In [ ]:
# Your code here:

### Exercise 1.2: Check data types
Use the `type()` function to check what type `3.14156` is.

In [ ]:
# Your code here:

### Exercise 1.3: Create different data types
Create one variable of each type:
- An integer called `student_count` with value `25`
- A float called `average_score` with value `87.5`
- A string called `course_name` with value `'Python Programming'`
- A boolean called `is_beginner` with value `True`

Then print all four variables.

In [ ]:
# Your code here:

---

## Part 2: Basic Operations ‚ûï‚ûñ‚úñÔ∏è‚ûó

Let's practice math and string operations!

### Exercise 2.1: Math operations
Calculate the following:
- Add: `156 + 284`
- Subtract: `500 - 237`
- Multiply: `12 * 8`
- Divide: `144 / 12`

In [ ]:
# Your code here (write each calculation on a separate line):

### Exercise 2.2: String operations
Combine the strings `'Data'` and `'Science'` with a space in between, then print the result.

In [ ]:
# Your code here:

### Exercise 2.3: String multiplication
What happens when you multiply a string? Try multiplying `'Python'` by `3` and print the result.

In [ ]:
# Your code here:

---

## Part 3: Variables üì¶

Variables store values with names, making them easy to use and reuse!

### Exercise 3.1: Create and use variables
Create three variables:
- `username` with value `'student_123'`
- `followers` with value `500`
- `verified` with value `True`

Then print all three variables.

In [ ]:
# Your code here:

### Exercise 3.2: Variable operations
Create a variable `likes` with value `100`. Then:
1. Add `50` to `likes` and store it back in `likes`
2. Print the new value of `likes`

In [ ]:
# Your code here:

### Exercise 3.3: Shorthand operators
Create a variable `score` with value `75`. Use the `+=` operator to add `15` to it, then print `score`.

In [ ]:
# Your code here:

### Exercise 3.4: Combining variables
Create two variables: `first_name = 'Maria'` and `last_name = 'Garcia'`. Combine them with a space to create a `full_name` and print it.

### Exercise 3.4: Combining variables
Create two variables:
- `first_name = 'Alex'`
- `last_name = 'Smith'`

Combine them with a space in between and store the result in a new variable `full_name`. Print `full_name`.

In [ ]:
# Your code here:

---

## Part 4: Lists üìù

Lists store multiple items in order. Remember: Python starts counting at 0!

### Exercise 4.1: Create a list
Create a list called `ages` containing the numbers: `18, 22, 19, 25, 21`. Print the list.

In [ ]:
# Your code here:

### Exercise 4.2: Access list items
Using the `ages` list from above:
1. Print the first age (index 0)
2. Print the last age (use index -1)
3. Print the third age (index 2)

In [ ]:
# Your code here:

### Exercise 4.3: Modify a list
Create a list `scores = [85, 90, 78, 92]`. Then:
1. Use `.append()` to add `88` to the end
2. Change the first score to `87`
3. Print the modified list

In [ ]:
# Your code here:

### Exercise 4.4: List functions
Create a list `numbers = [15, 42, 8, 23, 16, 30]`. Then use functions to find and print:
1. The length of the list (use `len()`)
2. The sum of all numbers (use `sum()`)
3. The maximum value (use `max()`)
4. The minimum value (use `min()`)

In [ ]:
# Your code here:

---

## Part 5: Putting It All Together üéØ

Time to combine everything you've learned!

### Challenge 1: Social Media Analytics
You're analyzing a social media post. Create variables:
- `post_likes = 340`
- `post_shares = 85`
- `post_comments = 52`

Calculate and print:
1. Total engagement (sum of all three)
2. A message saying "Total engagement: [number]"

In [ ]:
# Your code here:

### Challenge 2: Survey Responses
You collected survey responses: `[7, 8, 6, 9, 7, 8, 10, 6, 9, 8]`

Store this list in a variable called `responses`. Then:
1. Calculate the average response (sum divided by length)
2. Print: "Average rating: [average]"
3. Print the highest response
4. Print how many responses you collected

In [ ]:
# Your code here:

### Challenge 3: Student Data
Create these two lists:
- `student_names = ['Emma', 'Noah', 'Olivia', 'Liam']`
- `student_scores = [92, 87, 95, 89]`

Then:
1. Print the first student's name and score
2. Add a new student 'Ava' to the names list
3. Add her score of 91 to the scores list
4. Print both complete lists
5. Calculate and print the class average

In [ ]:
# Your code here:

---

You've completed all the Week 1 practice exercises!

**What you've mastered:**
- ‚úÖ Data types (int, float, str, bool)
- ‚úÖ Basic operations (math, strings)
- ‚úÖ Variables (creating, using, modifying)
- ‚úÖ Lists (creating, accessing, modifying)
- ‚úÖ Functions like print(), type(), len(), sum(), max(), min()