# Week 2 Practice Exercises SOLUTIONS
## Control Structures in Python

This notebook contains the **solutions** to all practice tasks.

Try to solve each task on your own before looking at the solutions!

---
## Part 1: Python Operators

### 1.1 Arithmetic Operators

In [1]:
a = 15
b = 4

**Task 1a:** Calculate `a` divided by `b` using regular division (`/`) and print the result.

In [2]:
print(a / b)  # Output: 3.75

3.75

**Task 1b:** Now calculate `a` divided by `b` using floor division (`//`) and print the result.

In [3]:
print(a // b)  # Output: 3 (rounds down to the nearest whole number)

3

**Task 1c:** Use the modulo operator (`%`) to find the remainder when `a` is divided by `b`.

In [4]:
print(a % b)  # Output: 3 (because 15 = 4 * 3 + 3)

3

**Task 1d:** Calculate 2 to the power of 10 using the exponent operator (`**`).

In [5]:
print(2 ** 10)  # Output: 1024

1024

---
### 1.2 Assignment Operators

**Task 2a:** Create a variable `total` set to 10, use `+=` to add 25, print result.

In [6]:
total = 10
total += 25  # same as total = total + 25
print(total)  # Output: 35

35

**Task 2b:** Prediction exercise.

In [7]:
# Prediction: 10
# Each line REPLACES the previous value (using =, not +=)

points = 0
points = 5
points = 10
print(points)  # Output: 10

10

---
### 1.3 Comparison Operators

**Task 3a:** Compare `my_age` to `voting_age`.

In [8]:
my_age = 21  # change to your actual age
voting_age = 18
print(my_age >= voting_age)  # Output: True (if age is 18 or older)

True

**Task 3b:** Check whether 7 is equal to 7.0.

In [9]:
print(7 == 7.0)  # Output: True â€” Python considers these equal!

True

---
### 1.4 Logical and Membership Operators

**Task 4a:** Check if `"banana"` is in the list.

In [10]:
fruits = ["apple", "banana", "cherry", "mango"]
print("banana" in fruits)  # Output: True

True

**Task 4b:** Check if `"grape"` is not in the list.

In [11]:
print("grape" not in fruits)  # Output: True

True

**Task 4c:** Use `and` and `or` with boolean variables.

In [12]:
has_ticket = True
has_id = False

print(has_ticket and has_id)  # Output: False (both need to be True)
print(has_ticket or has_id)   # Output: True (at least one is True)

False
True

---
## Part 2: Conditional Statements

**Task 5a:** Temperature check.

In [13]:
temperature = 22

if temperature > 30:
    print("It's hot!")
elif temperature >= 15:
    print("It's nice outside.")
else:
    print("It's cold!")

# Output: It's nice outside.

It's nice outside.

**Task 5b:** Weather conditional.

In [14]:
weather = "rainy"

if weather == "rainy":
    print("Take an umbrella!")
elif weather == "sunny":
    print("Wear sunglasses!")
elif weather == "snowy":
    print("Wear a warm coat!")
else:
    print("Just wear a hat.")

# Output: Take an umbrella!

Take an umbrella!

**Task 5c:** Rainy AND sunny â€” what happens?

In [15]:
rainy = True
sunny = True

if rainy:
    print("Take an umbrella!")
elif sunny:
    print("Wear sunglasses!")
else:
    print("Just wear a hat.")

# Output: Take an umbrella!
# Python is a lazy reader! It found that "rainy" is True, so it runs
# that block and skips everything else. It never even checks "sunny".

Take an umbrella!

**Task 5d:** Fix it so both rainy AND sunny is handled.

In [16]:
rainy = True
sunny = True

if rainy and sunny:
    print("Wear a raincoat!")
elif rainy:
    print("Take an umbrella!")
elif sunny:
    print("Wear sunglasses!")
else:
    print("Just wear a hat.")

# Output: Wear a raincoat!
# The combined condition is checked FIRST, before the individual ones.

Wear a raincoat!

---
### Part 2 (continued): Conditionals with Lists

**Task 6a:** Check if your name is in the guest list.

In [17]:
guest_list = ["Alice", "Bob", "Charlie", "Dana"]

my_name = "Alice"  # change to your name

if my_name in guest_list:
    print("Welcome to the party!")
else:
    print("Sorry, you\'re not on the list.")

Welcome to the party!

**Task 6b:** Check if both Alice AND Bob are in the guest list.

In [18]:
if "Alice" in guest_list and "Bob" in guest_list:
    print("The hosts are here!")
else:
    print("Still waiting for the hosts.")

The hosts are here!

---
## Part 3: `for` Loops

**Task 7a:** Print each fruit.

In [19]:
fruits = ["apple", "banana", "cherry", "mango"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry
mango

**Task 7b:** Greet each person by name.

In [20]:
students = ["Alen", "Maria", "Zoe", "Daniela"]

for student in students:
    print("Hello, " + student + "!")

Hello, Alen!
Hello, Maria!
Hello, Zoe!
Hello, Daniela!

**Task 7c:** Print each letter of a string.

In [21]:
word = "Python"

for letter in word:
    print(letter)

P
y
t
h
o
n

---
### Part 3 (continued): Combining Loops and Conditionals

In [22]:
movies = ["Gladiator", "The Matrix", "The Lord of the Rings", "Citizen Kane", "Avatar 2", "Inside Out 2", "Jaws"]
year = [2000, 1999, 2001, 1941, 2022, 2024, 1975]
score = [8.5, 8.7, 8.9, 8.2, 7.5, 7.5, 8.1]
is_watched = [True, True, True, False, True, False, False]

**Task 8a:** Print every movie with its year.

In [23]:
for i in range(len(movies)):
    print(movies[i] + " (" + str(year[i]) + ")")

Gladiator (2000)
The Matrix (1999)
The Lord of the Rings (2001)
Citizen Kane (1941)
Avatar 2 (2022)
Inside Out 2 (2024)
Jaws (1975)

**Task 8b:** Print movies released before 2000.

In [24]:
for i in range(len(movies)):
    if year[i] < 2000:
        print(movies[i])

# Output:
# The Matrix
# Citizen Kane
# Jaws

The Matrix
Citizen Kane
Jaws

**Task 8c:** Find a movie containing `"Rings"`.

In [25]:
for movie in movies:
    if "Rings" in movie:
        print(movie)

# Output: The Lord of the Rings

The Lord of the Rings

**Task 8d:** Sort movies into must_watch and optional lists.

In [26]:
must_watch = []
optional = []

for i in range(len(movies)):
    if score[i] >= 8.3:
        must_watch.append(movies[i])
    else:
        optional.append(movies[i])

print("Must watch:", must_watch)
print("Optional:", optional)

# Must watch: ['Gladiator', 'The Matrix', 'The Lord of the Rings']
# Optional: ['Citizen Kane', 'Avatar 2', 'Inside Out 2', 'Jaws']

Must watch: ['Gladiator', 'The Matrix', 'The Lord of the Rings']
Optional: ['Citizen Kane', 'Avatar 2', 'Inside Out 2', 'Jaws']

---
## Part 4: Counter Variables

**Task 9a:** Count how many movies have been watched.

In [27]:
watched_count = 0

for i in range(len(movies)):
    if is_watched[i] == True:  # or simply: if is_watched[i]:
        watched_count += 1

print("Movies watched:", watched_count)  # Output: 4

Movies watched: 4

**Task 9b:** Count movies with score above 8.0.

In [28]:
count = 0

for s in score:
    if s > 8.0:
        count += 1

print("Movies with score above 8.0:", count)  # Output: 5

Movies with score above 8.0: 5

---
## Part 5: `while` Loops

**Task 10a:** Print numbers 1 through 5 using a while loop.

In [29]:
counter = 1

while counter <= 5:
    print(counter)
    counter += 1

1
2
3
4
5

**Task 10b:** Print each movie using a while loop and counter.

In [30]:
i = 0

while i < len(movies):
    print(movies[i])
    i += 1

Gladiator
The Matrix
The Lord of the Rings
Citizen Kane
Avatar 2
Inside Out 2
Jaws

---
## Part 6: Nested Loops

**Task 11:** Print every drink and snack combination.

In [31]:
drinks = ["coffee", "tea", "juice"]
snacks = ["cookies", "cake", "chips"]

for drink in drinks:
    for snack in snacks:
        print(drink + " and " + snack)

coffee and cookies
coffee and cake
coffee and chips
tea and cookies
tea and cake
tea and chips
juice and cookies
juice and cake
juice and chips

---
## Part 7: Putting It All Together

**Task 12a:** Decrease all scores by 1.

In [32]:
new_scores = []

for s in score:
    new_scores.append(s - 1)

print(new_scores)  # [7.5, 7.7, 7.9, 7.2, 6.5, 6.5, 7.1]

[7.5, 7.699999999999999, 7.9, 7.199999999999999, 6.5, 6.5, 7.1]

**Task 12b:** Add 2 new movies to all lists.

In [33]:
movies.append("Inception")
year.append(2010)
score.append(8.8)
is_watched.append(True)

movies.append("Parasite")
year.append(2019)
score.append(8.5)
is_watched.append(True)

print(movies)

['Gladiator', 'The Matrix', 'The Lord of the Rings', 'Citizen Kane', 'Avatar 2', 'Inside Out 2', 'Jaws', 'Inception', 'Parasite']

**Task 12c (Challenge):** Find the highest-rated movie.

In [34]:
highest_score = score[0]
highest_index = 0

for i in range(len(score)):
    if score[i] > highest_score:
        highest_score = score[i]
        highest_index = i

print("Highest rated movie:", movies[highest_index], "with a score of", highest_score)

Highest rated movie: The Lord of the Rings with a score of 8.9

---
### Great work! ðŸŽ‰
You've practiced all the key concepts from Week 2.