# üêç Week 4 Coding Practice

**Welcome to Week 4!** This notebook covers the new topics introduced this week.

**Topics covered:**
- New: Dictionaries (key-value pairs)
- New: Functions (defining, parameters, return values)

**Instructions:**
- Complete each exercise in order
- Test your code by running each cell
- Try to solve the exercise yourself before looking at the solutions!

---

## Part 1: Dictionaries üìñ

Dictionaries store data as **key-value pairs**: `{"key": value}`

### Exercise 1.1: Create Your First Dictionary
Create a dictionary called `profile` with these key-value pairs:
- `"username"`: `"alex_2024"`
- `"age"`: `21`
- `"followers"`: `1500`
- `"verified"`: `True`

Print the entire dictionary.

In [ ]:
# Your code here:

### Exercise 1.2: Accessing Dictionary Values
Using the `profile` dictionary from above:
1. Print only the username
2. Print only the number of followers
3. Check if `"verified"` is a key in the dictionary (should print `True`)
4. Check if `"email"` is a key in the dictionary (should print `False`)

In [ ]:
# Your code here:

### Exercise 1.3: Modifying Dictionaries
Create this dictionary:
```python
car = {
    "brand": "Toyota",
    "model": "Camry",
    "year": 2020
}
```

Then:
1. Change the year to `2023`
2. Add a new key `"color"` with value `"Silver"`
3. Add a new key `"price"` with value `28000`
4. Remove the `"model"` key using `del`
5. Print the updated dictionary

In [ ]:
# Your code here:

### Exercise 1.4: Dictionary Methods
Create this dictionary:
```python
restaurant = {
    "name": "Pasta Palace",
    "cuisine": "Italian",
    "rating": 4.5,
    "price_range": "$$"
}
```

Then:
1. Print all the keys using `.keys()`
2. Print all the values using `.values()`
3. Check if `"location"` is a key (should print `False`)

In [ ]:
# Your code here:

### Exercise 1.5: Looping Through Dictionaries
Create this dictionary:
```python
inventory = {
    "apples": 50,
    "bananas": 75,
    "oranges": 30,
    "grapes": 60
}
```

Then:
1. Use a loop to print each fruit name
2. Use a loop to calculate the total quantity of all fruits
3. Use `.items()` to print each fruit and its quantity on the same line (e.g. `apples : 50`)
4. Use a loop to print only items with quantity >= 50

In [ ]:
# Your code here:

### Exercise 1.6: Loops + Conditionals with Dictionaries
Create this dictionary:
```python
exam_scores = {
    "Emma": 92,
    "Noah": 87,
    "Olivia": 95,
    "Liam": 78,
    "Ava": 88
}
```

Use a loop to:
1. Print students who scored >= 90
2. Calculate the class average
3. Count how many students passed (>= 80)

In [ ]:
# Your code here:

### Exercise 1.7: Creating a Dictionary from Two Lists
You have two parallel lists:
```python
products = ["Laptop", "Mouse", "Keyboard", "Monitor"]
prices = [999, 25, 75, 350]
```

Create a dictionary called `product_catalog` where:
- Keys are product names
- Values are prices

Hint: Use a loop with `range(len(...))`

In [ ]:
# Your code here:

### Exercise 1.8: List of Dictionaries
Create a list called `students` containing 3 dictionaries. Each dictionary should have:
- `"name"` (string)
- `"age"` (integer)
- `"major"` (string)

Then:
1. Print the name of the second student
2. Use a loop to print all student names
3. Use a loop to find the average age

In [ ]:
# Your code here:

---

## Part 2: Functions üîß

Functions are **reusable blocks of code** that do one job.

```python
def function_name(parameters):
    # code goes here
    return result
```

### Exercise 2.1: Your First Function
Write a function called `say_hello` that takes no parameters and prints `"Hello, World!"`.

Call it 3 times.

In [ ]:
# Your code here:

### Exercise 2.2: Functions with Parameters
1. Write a function called `greet` that takes a `name` parameter and prints `"Hello, [name]!"`
2. Write a function called `introduce` that takes `name` and `age` parameters and prints `"[name] is [age] years old."`

Call each function with a few different values.

In [ ]:
# Your code here:

### Exercise 2.3: Return Values
1. Write a function called `multiply` that takes two numbers and **returns** their product
2. Write a function called `is_even` that takes a number and **returns** `True` if it is even, `False` otherwise

Store the results in variables and print them.

In [ ]:
# Your code here:

### Exercise 2.4: Default Parameters
Write a function called `make_coffee` with:
- parameter `size` (no default)
- parameter `milk` with default value `"oat"`
- parameter `sugar` with default value `0`

It should print: `"[size] coffee with [milk] milk and [sugar] sugar(s)."`

Call it:
1. With just a size
2. With a size and different milk
3. With all three arguments

In [ ]:
# Your code here:

### Exercise 2.5: Functions + Lists
Write a function called `get_evens` that:
- Takes a list of numbers
- **Returns** a new list containing only the even numbers

Test it with: `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`

In [ ]:
# Your code here:

### Exercise 2.6: Functions + Lists (Return a Value)
Write a function called `calculate_average` that:
- Takes a list of numbers
- **Returns** the average

Then write a function called `is_passing` that:
- Takes a score
- **Returns** `True` if >= 50, else `False`

Test both with: `[45, 78, 92, 60, 55]`

In [ ]:
# Your code here:

### Exercise 2.7: Functions + Dictionaries
Write a function called `describe_movie` that:
- Takes a movie dictionary (with keys `"title"`, `"year"`, `"rating"`)
- Prints: `"[title] ([year]) - Rating: [rating]"`

Test it with two different movie dictionaries.

In [ ]:
# Your code here:

### Exercise 2.8: Functions + List of Dictionaries
Given this list:
```python
students = [
    {"name": "Emma",   "gpa": 3.75},
    {"name": "Noah",   "gpa": 3.40},
    {"name": "Olivia", "gpa": 3.92},
    {"name": "Liam",   "gpa": 3.55},
    {"name": "Ava",    "gpa": 3.80}
]
```

Write a function called `get_top_students` that:
- Takes the list and a minimum GPA value
- **Returns** a list of names of students who meet or exceed the minimum GPA

Test it with minimum GPA of `3.7`.

In [ ]:
# Your code here:

---

## Part 3: Challenge Problems üéØ

Combine everything you've learned!

### Challenge 1: Library System
Create a list of 4 book dictionaries. Each should have:
- `"title"`: book title
- `"author"`: author name
- `"pages"`: number of pages
- `"available"`: boolean (True/False)

Then write a function called `find_available` that:
- Takes the list of books
- **Returns** a list of titles of available books

Call the function and print the result.

In [ ]:
# Your code here:

### Challenge 2: Shopping Cart
You have this shopping cart data:
```python
cart = [
    {"item": "Laptop",   "price": 999, "quantity": 1, "category": "Electronics"},
    {"item": "Mouse",    "price": 25,  "quantity": 2, "category": "Electronics"},
    {"item": "Notebook", "price": 5,   "quantity": 5, "category": "Stationery"},
    {"item": "USB Cable","price": 10,  "quantity": 3, "category": "Electronics"}
]
```

Write two functions:
1. `total_cost(cart)` ‚Äî **returns** the total cost (price √ó quantity for each item, then sum)
2. `category_total(cart, category)` ‚Äî **returns** total spent on a given category

Test both functions.

In [ ]:
# Your code here:

### Challenge 3: Grade Analyser
```python
class_grades = {
    "Emma":   [88, 92, 79, 95],
    "Noah":   [75, 80, 85, 70],
    "Olivia": [95, 98, 91, 100],
    "Liam":   [60, 55, 70, 65]
}
```

Write a function called `student_summary` that:
- Takes the dictionary
- For each student, prints their name and average grade
- Also returns the name of the student with the highest average

Hint: You'll need to calculate each student's average inside the loop.

In [ ]:
# Your code here:

---

## Congratulations!

You've completed Week 4 practice!

**What you've practised:**
- ‚úÖ Creating and accessing dictionaries
- ‚úÖ Modifying dictionaries and using dictionary methods
- ‚úÖ Looping through dictionaries
- ‚úÖ Working with lists of dictionaries
- ‚úÖ Defining functions with `def`
- ‚úÖ Using parameters and return values
- ‚úÖ Default parameters
- ‚úÖ Combining functions with lists and dictionaries

**Keep practising to build confidence!** üêç