# üêç Week 3 Coding Practice SOLUTIONS

**Welcome to Week 3!** This notebook contains solutions for all Week 3 exercises.

**Topics covered:**
- Review: Data types, variables, lists, loops, conditionals
- New: Dictionaries (key-value pairs)

---

## Part 1: Review of Weeks 1-2 üìö

Let's reinforce what we've learned!

### Exercise 1.1: Working with Data Types
Create a variable for each data type with these values:
- `temperature`: 72.5 (float)
- `students_count`: 30 (integer)
- `university_name`: "University of Amsterdam" (string)
- `is_online`: False (boolean)

Then use `type()` to verify the type of `temperature`.

In [1]:
temperature = 72.5
students_count = 30
university_name = "University of Amsterdam"
is_online = False

print(type(temperature))  # <class 'float'>

<class 'float'>

### Exercise 1.2: Variable Operations
Create a variable `views` with value 1000. Then:
1. Add 250 views using `+=`
2. Triple the views using `*=`
3. Print the final number of views

In [2]:
views = 1000
views += 250  # Now 1250
views *= 3    # Now 3750
print(views)  # 3750

3750

### Exercise 1.3: String Manipulation
Given two variables `first = "Data"` and `second = "Science"`:
1. Combine them with a space to create `field`
2. Print `field` in uppercase
3. Print the length of `field`

In [3]:
first = "Data"
second = "Science"

field = first + " " + second
print(field.upper())  # DATA SCIENCE
print(len(field))     # 12

DATA SCIENCE
12

### Exercise 1.4: List Basics
Create a list `ratings` containing: 4.5, 3.8, 4.9, 4.2, 3.5

Then:
1. Print the first rating
2. Print the last rating (using negative index)
3. Add a new rating 4.7 to the end
4. Change the second rating to 4.0
5. Print the updated list

In [4]:
ratings = [4.5, 3.8, 4.9, 4.2, 3.5]

print(ratings[0])   # 4.5
print(ratings[-1])  # 3.5

ratings.append(4.7)
ratings[1] = 4.0

print(ratings)  # [4.5, 4.0, 4.9, 4.2, 3.5, 4.7]

4.5
3.5
[4.5, 4.0, 4.9, 4.2, 3.5, 4.7]

### Exercise 1.5: List Functions
Given the list: `sales = [120, 150, 180, 95, 200, 165, 140]`

Calculate and print:
1. Total sales (sum)
2. Average sales
3. Highest sale
4. Lowest sale
5. Number of sales recorded

In [5]:
sales = [120, 150, 180, 95, 200, 165, 140]

print("Total sales:", sum(sales))                    # 1050
print("Average sales:", sum(sales) / len(sales))     # 150.0
print("Highest sale:", max(sales))                   # 200
print("Lowest sale:", min(sales))                    # 95
print("Number of sales:", len(sales))                # 7

Total sales: 1050
Average sales: 150.0
Highest sale: 200
Lowest sale: 95
Number of sales: 7

### Exercise 1.6: For Loops - Basic Printing
Given: `cities = ['Amsterdam', 'Berlin', 'Paris', 'London', 'Rome']`

Use a for loop to print each city with its position:
```
1. Amsterdam
2. Berlin
3. Paris
...
```

Hint: You can use `enumerate()` or track a counter yourself.

In [6]:
cities = ['Amsterdam', 'Berlin', 'Paris', 'London', 'Rome']

# Solution 1: Using enumerate
for i, city in enumerate(cities, 1):
    print(f"{i}. {city}")

# Solution 2: Using manual counter
# counter = 1
# for city in cities:
#     print(f"{counter}. {city}")
#     counter += 1

1. Amsterdam
2. Berlin
3. Paris
4. London
5. Rome

### Exercise 1.7: For Loops - Building a New List
Given: `numbers = [3, 7, 12, 5, 18, 9, 21]`

Use a for loop to create a new list `even_numbers` containing only the even numbers.

Hint: Use `%` (modulo) to check if a number is even: `number % 2 == 0`

In [7]:
numbers = [3, 7, 12, 5, 18, 9, 21]

even_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

print(even_numbers)  # [12, 18]

[12, 18]

### Exercise 1.8: Conditionals - Grading System
Create a variable `score = 78`. Write if-elif-else statements to print the grade:
- "A" if score >= 90
- "B" if score >= 80
- "C" if score >= 70
- "D" if score >= 60
- "F" if score < 60

In [8]:
score = 78

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

# Output: C

C

### Exercise 1.9: Loops + Conditionals
Given: `prices = [45, 120, 30, 85, 150, 20, 95]`

Use a loop with conditionals to:
1. Count how many prices are "expensive" (>= 100)
2. Count how many prices are "moderate" (50-99)
3. Count how many prices are "cheap" (< 50)
4. Print all three counts

In [9]:
prices = [45, 120, 30, 85, 150, 20, 95]

expensive = 0
moderate = 0
cheap = 0

for price in prices:
    if price >= 100:
        expensive += 1
    elif price >= 50:
        moderate += 1
    else:
        cheap += 1

print("Expensive:", expensive)  # 2
print("Moderate:", moderate)    # 2
print("Cheap:", cheap)          # 3

Expensive: 2
Moderate: 2
Cheap: 3

### Exercise 1.10: String Operations in Loops
Given: `tags = ['#python', '#DataScience', '#AI', '#MachineLearning', '#coding']`

Use a loop to:
1. Print only tags that contain "data" or "Data" (case-insensitive)
2. Count how many tags are longer than 8 characters

Hint: Use `.lower()` to make comparisons case-insensitive.

In [10]:
tags = ['#python', '#DataScience', '#AI', '#MachineLearning', '#coding']

# Print tags containing "data"
for tag in tags:
    if "data" in tag.lower():
        print(tag)  # #DataScience

# Count tags longer than 8 characters
long_tags = 0
for tag in tags:
    if len(tag) > 8:
        long_tags += 1

print("Tags longer than 8 characters:", long_tags)  # 3

#DataScience
Tags longer than 8 characters: 2

---

## Part 2: Dictionaries - New Content! üìñ

Now let's learn about dictionaries - a powerful way to organize data!

### Exercise 2.1: Create Your First Dictionary
Create a dictionary called `profile` with these key-value pairs:
- "username": "alex_2024"
- "age": 21
- "followers": 1500
- "verified": True

Print the entire dictionary.

In [11]:
profile = {
    "username": "alex_2024",
    "age": 21,
    "followers": 1500,
    "verified": True
}

print(profile)

{'username': 'alex_2024', 'age': 21, 'followers': 1500, 'verified': True}

### Exercise 2.2: Accessing Dictionary Values
Using the `profile` dictionary from above:
1. Print the username
2. Print the number of followers
3. Check if "verified" is a key in the dictionary (should print True)

In [12]:
print(profile["username"])     # alex_2024
print(profile["followers"])   # 1500
print("verified" in profile)  # True

alex_2024
1500
True

### Exercise 2.3: Modifying Dictionaries
Create this dictionary:
```python
car = {
    "brand": "Toyota",
    "model": "Camry",
    "year": 2020
}
```

Then:
1. Change the year to 2022
2. Add a new key "color" with value "Silver"
3. Add a new key "price" with value 25000
4. Print the updated dictionary

In [13]:
car = {
    "brand": "Toyota",
    "model": "Camry",
    "year": 2020
}

car["year"] = 2022
car["color"] = "Silver"
car["price"] = 25000

print(car)
# {'brand': 'Toyota', 'model': 'Camry', 'year': 2022, 'color': 'Silver', 'price': 25000}

{'brand': 'Toyota', 'model': 'Camry', 'year': 2022, 'color': 'Silver', 'price': 25000}

### Exercise 2.4: Dictionary Methods
Create this dictionary:
```python
restaurant = {
    "name": "Pasta Palace",
    "cuisine": "Italian",
    "rating": 4.5,
    "price_range": "$$"
}
```

Then:
1. Print all the keys using `.keys()`
2. Print all the values using `.values()`
3. Check if "location" is a key (should print False)

In [14]:
restaurant = {
    "name": "Pasta Palace",
    "cuisine": "Italian",
    "rating": 4.5,
    "price_range": "$$"
}

print(restaurant.keys())    # dict_keys(['name', 'cuisine', 'rating', 'price_range'])
print(restaurant.values())  # dict_values(['Pasta Palace', 'Italian', 4.5, '$$'])
print("location" in restaurant)  # False

dict_keys(['name', 'cuisine', 'rating', 'price_range'])
dict_values(['Pasta Palace', 'Italian', 4.5, '$$'])
False

### Exercise 2.5: Looping Through Dictionaries
Create this dictionary:
```python
inventory = {
    "apples": 50,
    "bananas": 75,
    "oranges": 30,
    "grapes": 60
}
```

Then:
1. Use a loop to print each fruit name
2. Use a loop to calculate the total quantity of all fruits
3. Use a loop to print items with quantity >= 50

In [15]:
inventory = {
    "apples": 50,
    "bananas": 75,
    "oranges": 30,
    "grapes": 60
}

# Print each fruit name
for fruit in inventory:
    print(fruit)

# Calculate total quantity
total = 0
for quantity in inventory.values():
    total += quantity
print("Total quantity:", total)  # 215

# Print items with quantity >= 50
for fruit, quantity in inventory.items():
    if quantity >= 50:
        print(f"{fruit}: {quantity}")

apples
bananas
oranges
grapes
Total quantity: 215
apples: 50
bananas: 75
grapes: 60

### Exercise 2.6: Dictionary with Loops and Conditionals
Create this dictionary:
```python
exam_scores = {
    "Emma": 92,
    "Noah": 87,
    "Olivia": 95,
    "Liam": 78,
    "Ava": 88
}
```

Use a loop to:
1. Print students who scored >= 90
2. Calculate the class average
3. Count how many students passed (>= 80)

In [16]:
exam_scores = {
    "Emma": 92,
    "Noah": 87,
    "Olivia": 95,
    "Liam": 78,
    "Ava": 88
}

# Print students with >= 90
print("High achievers:")
for student, score in exam_scores.items():
    if score >= 90:
        print(f"{student}: {score}")

# Calculate class average
average = sum(exam_scores.values()) / len(exam_scores)
print(f"\nClass average: {average}")  # 88.0

# Count students who passed
passed = 0
for score in exam_scores.values():
    if score >= 80:
        passed += 1
print(f"Students passed: {passed}")  # 4

High achievers:
Emma: 92
Olivia: 95

Class average: 88.0
Students passed: 4

### Exercise 2.7: Creating Dictionaries from Lists
You have two parallel lists:
```python
products = ["Laptop", "Mouse", "Keyboard", "Monitor"]
prices = [999, 25, 75, 350]
```

Create a dictionary called `product_catalog` where:
- Keys are product names
- Values are prices

Print the resulting dictionary.

In [17]:
products = ["Laptop", "Mouse", "Keyboard", "Monitor"]
prices = [999, 25, 75, 350]

# Solution 1: Using a loop
product_catalog = {}
for i in range(len(products)):
    product_catalog[products[i]] = prices[i]

print(product_catalog)
# {'Laptop': 999, 'Mouse': 25, 'Keyboard': 75, 'Monitor': 350}

# Solution 2: Using zip (more Pythonic)
# product_catalog = dict(zip(products, prices))
# print(product_catalog)

{'Laptop': 999, 'Mouse': 25, 'Keyboard': 75, 'Monitor': 350}

### Exercise 2.8: List of Dictionaries
Create a list called `students` containing 3 dictionaries. Each dictionary should have:
- "name" (string)
- "age" (integer)
- "major" (string)

Then:
1. Print the name of the second student
2. Use a loop to print all student names
3. Use a loop to find the average age

In [18]:
students = [
    {"name": "Alice", "age": 20, "major": "Computer Science"},
    {"name": "Bob", "age": 22, "major": "Data Science"},
    {"name": "Charlie", "age": 21, "major": "Psychology"}
]

# Print second student's name
print(students[1]["name"])  # Bob

# Print all student names
for student in students:
    print(student["name"])

# Calculate average age
total_age = 0
for student in students:
    total_age += student["age"]
average_age = total_age / len(students)
print(f"Average age: {average_age}")  # 21.0

Bob
Alice
Bob
Charlie
Average age: 21.0

---

## Part 3: Challenge Problems üéØ

Combine everything you've learned!

### Challenge 1: Movie Database
Create a list of 4 movie dictionaries. Each should have:
- "title": movie name
- "year": release year
- "rating": score out of 10
- "watched": boolean

Then:
1. Print titles of movies you've watched
2. Calculate the average rating of all movies
3. Find and print movies from 2020 or later
4. Update the "watched" status of one movie to True

In [19]:
movies = [
    {"title": "Inception", "year": 2010, "rating": 8.8, "watched": True},
    {"title": "Dune", "year": 2021, "rating": 8.0, "watched": False},
    {"title": "The Matrix", "year": 1999, "rating": 8.7, "watched": True},
    {"title": "Oppenheimer", "year": 2023, "rating": 8.5, "watched": False}
]

# 1. Print watched movies
print("Watched movies:")
for movie in movies:
    if movie["watched"]:
        print(movie["title"])

# 2. Calculate average rating
total_rating = sum(movie["rating"] for movie in movies)
avg_rating = total_rating / len(movies)
print(f"\nAverage rating: {avg_rating}")  # 8.5

# 3. Print movies from 2020 or later
print("\nRecent movies (2020+):")
for movie in movies:
    if movie["year"] >= 2020:
        print(f"{movie['title']} ({movie['year']})")

# 4. Update watched status
movies[1]["watched"] = True
print(f"\nUpdated Dune status: {movies[1]['watched']}")

Watched movies:
Inception
The Matrix

Average rating: 8.5

Recent movies (2020+):
Dune (2021)
Oppenheimer (2023)

Updated Dune status: True

### Challenge 2: E-commerce Analysis
You have this shopping cart data:
```python
cart = [
    {"item": "Laptop", "price": 999, "quantity": 1, "category": "Electronics"},
    {"item": "Mouse", "price": 25, "quantity": 2, "category": "Electronics"},
    {"item": "Notebook", "price": 5, "quantity": 5, "category": "Stationery"},
    {"item": "USB Cable", "price": 10, "quantity": 3, "category": "Electronics"}
]
```

Calculate:
1. Total cost (price √ó quantity for each item, then sum)
2. Total number of items in cart
3. Most expensive single item
4. Total spent on "Electronics" category

In [20]:
cart = [
    {"item": "Laptop", "price": 999, "quantity": 1, "category": "Electronics"},
    {"item": "Mouse", "price": 25, "quantity": 2, "category": "Electronics"},
    {"item": "Notebook", "price": 5, "quantity": 5, "category": "Stationery"},
    {"item": "USB Cable", "price": 10, "quantity": 3, "category": "Electronics"}
]

# 1. Total cost
total_cost = 0
for item in cart:
    total_cost += item["price"] * item["quantity"]
print(f"Total cost: ${total_cost}")  # $1104

# 2. Total number of items
total_items = 0
for item in cart:
    total_items += item["quantity"]
print(f"Total items: {total_items}")  # 11

# 3. Most expensive single item
max_price = 0
most_expensive = ""
for item in cart:
    if item["price"] > max_price:
        max_price = item["price"]
        most_expensive = item["item"]
print(f"Most expensive item: {most_expensive} (${max_price})")  # Laptop ($999)

# 4. Total spent on Electronics
electronics_total = 0
for item in cart:
    if item["category"] == "Electronics":
        electronics_total += item["price"] * item["quantity"]
print(f"Electronics total: ${electronics_total}")  # $1079

Total cost: $1104
Total items: 11
Most expensive item: Laptop ($999)
Electronics total: $1079

### Challenge 3: Social Media Analytics
Create a dictionary to track engagement data:
```python
posts = {
    "post1": {"likes": 150, "comments": 23, "shares": 12},
    "post2": {"likes": 89, "comments": 15, "shares": 5},
    "post3": {"likes": 203, "comments": 45, "shares": 28},
    "post4": {"likes": 67, "comments": 8, "shares": 3}
}
```

Calculate:
1. Total engagement for each post (likes + comments + shares)
2. Which post has the highest engagement?
3. Average number of likes across all posts
4. How many posts have more than 100 likes?

In [21]:
posts = {
    "post1": {"likes": 150, "comments": 23, "shares": 12},
    "post2": {"likes": 89, "comments": 15, "shares": 5},
    "post3": {"likes": 203, "comments": 45, "shares": 28},
    "post4": {"likes": 67, "comments": 8, "shares": 3}
}

# 1. Total engagement for each post
print("Engagement per post:")
for post_id, data in posts.items():
    total = data["likes"] + data["comments"] + data["shares"]
    print(f"{post_id}: {total}")

# 2. Highest engagement
max_engagement = 0
top_post = ""
for post_id, data in posts.items():
    total = data["likes"] + data["comments"] + data["shares"]
    if total > max_engagement:
        max_engagement = total
        top_post = post_id
print(f"\nTop post: {top_post} with {max_engagement} total engagement")

# 3. Average likes
total_likes = 0
for data in posts.values():
    total_likes += data["likes"]
avg_likes = total_likes / len(posts)
print(f"Average likes: {avg_likes}")  # 127.25

# 4. Posts with > 100 likes
high_like_count = 0
for data in posts.values():
    if data["likes"] > 100:
        high_like_count += 1
print(f"Posts with >100 likes: {high_like_count}")  # 2

Engagement per post:
post1: 185
post2: 109
post3: 276
post4: 78

Top post: post3 with 276 total engagement
Average likes: 127.25
Posts with >100 likes: 2

---

## Congratulations!

You've completed Week 3 practice!

**What you've mastered:**
- ‚úÖ Reviewed all Week 1-2 concepts with practice
- ‚úÖ Learned dictionary basics (key-value pairs)
- ‚úÖ Accessed and modified dictionaries
- ‚úÖ Looped through dictionaries
- ‚úÖ Worked with lists of dictionaries
- ‚úÖ Combined all concepts in real-world scenarios

**Keep practicing to build confidence!** üêç